<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZsGPdzt4dBI7W8lK2_K_2OqCE7aXRZL4</string>
	<key>GCM_SENDER_ID</key>
	<string>834722256087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imap.goong.map.lite</string>
	<key>PROJECT_ID</key>
	<string>goong-app</string>
	<key>STORAGE_BUCKET</key>
	<string>goong-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834722256087:ios:c5972c9c5d7794477c0c92</string>
</dict>
</plist>