<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>vn</string>
	<key>CFBundleDisplayName</key>
	<string>GoongMapLite</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Chơi nhạc trong khi bạn đi bộ đường dài</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập Bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng Lịch của bạn.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập máy ảnh để quét QR Code</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập danh bạ của bạn để lấy tìm kiếm thông tin danh bạ gọi điện.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) Sử dụng vị trí của bạn trong khi dùng app để sử dụng tọa độ và tổng hợp vị trí trên lộ trình giao hàng của bạn</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vị trí luôn luôn được sử dụng</string>
	<key>NSLocationUsageDescription</key>
	<string>Cho phép $(PRODUCT_NAME) sử dụng dữ liệu vị trí để sử dụng tọa độ và tổng hợp vị trí trên lộ trình giao hàng của bạn ?</string>
	<key>NSPushNotificationsUsageDescription</key>
	<string>$(PRODUCT_NAME) cần quyền để gửi thông báo quan trọng tới bạn.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng dữ liệu vị trí của bạn để sử dụng tọa độ và tổng hợp vị trí trên lộ trình giao hàng của bạn</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn sử dụng mic của bạn cho quay phim</string>
	<key>NSMotionUsageDescription</key>
	<string>Lưu ý: Cập nhật chuyển động tăng hiệu quả sử dụng bằng cách chuyển đổi thông minh các dịch vụ định vị khi thiết bị được phát là đang di chuyển</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập ảnh của bạn trong thư viện để gửi ảnh chứng từ bạn chụp</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) muốn truy cập thư viện để gửi ảnh chứng từ bạn chụp</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng nhận dạng giọng nói để thu âm phản hồi của bạn.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontisto.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>Entypo.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Octicons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<!-- <string>com.transistorsoft.customtask</string> -->
		<string>com.transistorsoft.fetch</string>
	</array>
</dict>
</plist>
